/*General*/
*{
	font-family: 'Roboto', 'Tahoma', sans-serif;
}

/*CSS FOR div.list-product*/

div.list-product ul li a:hover {
    color: #cc2121 !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

div.list-product ul li:hover a{
    color: #cc2121 !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

div.list-product ul li a.badge-pill{
	background: #f6f6f6 !important;
}

div.list-product ul li:hover a.badge-pill{
    color: #fff !important;
    text-decoration: none !important;
    background: #cc2121 !important;
    transition: all 0.3s !important;
}

div.list-product button.filter:hover{
	background: #cc2121 !important;
	border-color: #cc2121 !important;
	color: #fff !important;
	transition: 0.3s !important;
}

div.list-product li.input-group-checkbox:hover label{
	color: #cc2121 !important;
	transition: all 0.3s !important;
}

div.list-product li.input-group-checkbox{
	font-family: 'tahoma', sans-serif !important;
}

div.list-product div.bg-for-pagination{
    background: #f6f6f6 !important;
}

div.list-product div.bg-for-pagination nav a:hover{
    background: #cc2121 !important;
    color: #fff !important;
    transition: all 0.3s !important;
}

div.list-product div.bg-for-pagination nav a.active{
     background: #cc2121 !important;
    color: #fff !important;
}